:root {
    --main-color: #e6f0f0;
    --accent-color: #80796c;
}

.font_english {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
}

html {
    font-size: 100%
}

body {
    width: auto;
    margin: 0 15% 0 15%;
    line-height: 1.6;
    background-color: #fff;
}

header {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.nav, li {
    list-style: none;
    font-size: large;
    color: #fff;
    margin-top: 10px;
}

.logo {
    text-align: center
}

.nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    border-bottom: .5rem double #000;
    list-style-type: none;
    background-color: var(--accent-color);
}

.main_contents {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1.5rem
}

.rooms {
    display: flex;
    background-color: var(--main-color);
}

div img {
    margin: 20px 20px;
    object-fit: cover;
    width: 100%;
}
div p {
    margin: 1rem 25px 1rem 25px;
}

form {
    margin: 10px 0 10px 0;
}